.Checkdiv {
  background: linear-gradient(
    180deg,
    #111b4c 16.62%,
    #464194 59.41%,
    #4d62bb 86.62%
  );
  width: 100%;
  height: 100vh;
}

.star {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.containerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 1vw;
  left: 1vw;
}

@media (max-width: 1000px) {
  .back {
  }
}

.arrow {
  position: absolute;
  top: 5vw;
  width: 20%;
}

.Checkback {
  margin-top: -7%;
  margin-bottom: -7%;
  max-width: 5vw;
  max-height: 5vw;
}

@media (max-width: 1000px) {
  .Checkback {
    margin-top: 2%;
    max-width: 40%;
    max-height: 40%;
  }
}

@media (max-width: 1000px) {
  .arrow {
    top: 10vw;
    max-width: 100%;
    max-height: 100%;
  }
}

.start {
  position: absolute;
  top: 20vw;
  width: 30vw;
  height: 10vw;

  background: #e9ffcc;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 7vw;
  line-height: 11vw;
  text-align: center;
  letter-spacing: -0.03em;

  color: rgba(49, 165, 30, 0.7);
}

@media (max-width: 1000px) {
  .start {
    margin-top: -8%;
    width: 60vw;
    height: 20vw;
    left: 20%;
    font-size: 15vw;
    line-height: 22vw;
  }
}

.intro {
  position: absolute;

  top: 35vw;
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 7vw;
  text-align: center;
  letter-spacing: -0.006em;

  color: white;
}

@media (max-width: 1000px) {
  .intro {
    font-size: 5vw;
    top: 100vw;
  }
}

.market {
  cursor: pointer;

  position: fixed;
  box-shadow: 0px 0px 15px #636da2;

  bottom: 1vw;
  right: 1vw;

  width: 15vw;
  height: 5vw;

  display: flex;
  justify-content: center;

  background: #122547;
  /* box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2); */
  /* border: 1px solid black; */
  border-radius: 100px;
}

.marketimg {
  width: 20%;
}

@media (max-width: 1000px) {
  .marketimg {
    width: 60%;
  }
}

.basket {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.3rem;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .basket {
    display: none;
  }
}

.basketspace {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
}

@media (max-width: 1000px) {
  .market {
    border-radius: 30px;
    width: 15vw;
    height: 15vw;
  }
}

.jpg {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  width: 30vw;
}

.jpgdiv {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  background-color: white;
}

.datajpg {
  padding-bottom: 3%;
}

.data {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  font-size: 5vw;
  line-height: 8vw;
  letter-spacing: -0.06em;
  color: white;
}

.가 {
  font-family: "Nanum Gothic", sans-serif;
  margin-left: 1vw;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  font-size: 2vw;
  letter-spacing: -0.06em;
  color: white;
}

.recognize {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  font-size: 2vw;
  line-height: 1vw;
  letter-spacing: -0.06em;
  color: white;
}

.info {
  padding-top: 14%;
  line-height: 7vw;
  display: inline;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  letter-spacing: -0.06em;
  text-align: center;
}

.jpgbox {
  display: flex;
  justify-content: space-around;
}

.first {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 8vw;
  color: white;
}

.second {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 5vw;
  margin-left: 1vw;
  color: white;
}

.third {
  font-family: "Nanum Gothic", sans-serif;
  line-height: 8vw;
  margin: 0;
  font-size: 7vw;
  color: white;
}

.calorie {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 8vw;
  color: white;
}

@media (max-width: 1000px) {
  .jpgbox {
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  .jpg {
    margin-left: 15%;
    padding-top: 20%;
    width: 70vw;
  }
}

@media (max-width: 1000px) {
  .data {
    font-size: 12vw;
  }
}

@media (max-width: 1000px) {
  .가 {
    font-size: 7vw;
  }
}

@media (max-width: 1000px) {
  .recognize {
    font-size: 7vw;
    line-height: 12vw;
  }
}

@media (max-width: 1000px) {
  .first {
    font-size: 10vw;
  }
}
@media (max-width: 1000px) {
  .second {
    font-size: 6vw;
  }
}

@media (max-width: 1000px) {
  .carbong {
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media (max-width: 1000px) {
  .calorie {
    font-size: 8vw;
  }
}

@media (max-width: 1000px) {
  .third {
    font-size: 6vw;
  }
}
