.arrow {

    margin-top: -2%;
    margin-bottom: -8%;

    max-width: 40%;
    max-height: 40%;
    
}

.start {

    position: absolute;
    width: 30%;
    height: 20%;
    left: 35%;


    background: #E9FFCC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 170px;
    text-align: center;
    letter-spacing: -0.03em;

    color: rgba(49, 165, 30, 0.7);
}

.intro{
    margin-top: 15%;
    margin-bottom: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.115em;

    color: rgba(0, 0, 0, 0.5);
}
