.containerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  margin-top: 1%;
  margin-left: -92%;
}

@media (max-width: 800px) {
  .back {
    margin-left: -80%;
  }
}

.arrow {
  margin-top: -7%;
  margin-bottom: -7%;
  max-width: 40%;
  max-height: 40%;
}

@media (max-width: 800px) {
  .arrow {
    margin-top: -10%;
    max-width: 100%;
    max-height: 100%;
  }
}

.start {
  width: 30vw;
  height: 10vw;

  background: #e9ffcc;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 7vw;
  line-height: 11vw;
  text-align: center;
  letter-spacing: -0.03em;

  color: rgba(49, 165, 30, 0.7);
}

@media (max-width: 800px) {
  .start {
    margin-top: -8%;
    width: 60vw;
    height: 20vw;
    left: 20%;
    font-size: 15vw;
    line-height: 22vw;
  }
}

.intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 7vw;
  text-align: center;
  letter-spacing: 0.115em;

  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .intro {
    margin-top: 15%;
    left: 20%;
    font-size: 5vw;
  }
}

.market {
  margin-left: 87%;
  margin-top: -12%;

  width: 10vw;
  height: 10vw;

  background: #ffffff;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.marketimg {
  margin-left: 20%;
  margin-top: 15%;
  margin-bottom: 20%;

  width: 60%;
  height: 70%;
}

@media (max-width: 800px) {
  .market {
    margin-left: -0%;
    margin-top: 10%;
    width: 20vw;
    height: 20vw;
  }
}
