.InfoMain {
}

.InfoNav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vw;
  background: rgba(0, 0, 0, 0.7);
}

.InfoNav {
  display: flex;
  justify-content: space-evenly;
}

.LogoTittle {
  display: flex;
  align-items: center;
}

.InfoText {
  margin-left: 2vw;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  /* identical to box height */

  letter-spacing: 0.355em;

  color: #ffffff;
}

.InfoLogo {
  width: 3.5vw;
}

.NavText {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 39px;
  /* identical to box height */

  color: #ffffff;
}

.InfoBackDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoBackImg {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.InfoBetween {
  margin-top: -75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.InfoLeft {
  filter: drop-shadow(2px 5px 4px black);
}

.당신이먹는음식에는 {
  margin-left: 0.5rem;
  display: block;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 3vw;
  /* identical to box height */

  letter-spacing: -0.05em;

  color: #ffffff;
}

.환경을오염시키는 {
  margin-left: 0.3rem;
  display: block;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 3.5vw;
  /* identical to box height */

  letter-spacing: 0.095em;

  color: #ffffff;
}

.탄소 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 5vw;
  line-height: 6vw;

  color: #9acd32;
}

.가있습니다 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 6vw;
  /* identical to box height */

  letter-spacing: -0.09em;

  color: #ffffff;
}

.소개 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  /* identical to box height */
  opacity: 0.8;
  letter-spacing: -0.09em;

  color: #ffffff;
}

.소개박스 {
  width: 35vw;
  height: 15vw;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  align-items: center;
}

.탄소소개밑 {
  display: flex;
  justify-content: space-around;
  width: 23vw;
  height: 10vw;
}

.탄소소개밑왼쪽 {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 6vw;
  background: #75b73b;
  border-radius: 1vw;
}

.탄소소개밑오른쪽 {
  display: flex;
  align-items: center;
  width: 10vw;
  height: 6vw;
  background: #1d88d5;
  border-radius: 1vw;
}

.환경뉴스보기 {
  white-space: nowrap;
  margin-left: 1vw;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5vw;

  color: white;
}

.환경뉴스보기화살표 {
  width: 2vw;
  height: 2vw;

  margin-top: 3vw;
  margin-left: 1vw;
  background: #52a028;
  border-radius: 20vw;

  align-items: center;
  display: flex;
  justify-content: center;
}

.홈으로화살표 {
  width: 2vw;
  height: 2vw;

  margin-top: 3vw;
  margin-left: 2vw;

  background: #0abcf0;
  border-radius: 20vw;

  align-items: center;
  display: flex;
  justify-content: center;
}

.인포화살표 {
  width: 2vw;
}

.홈으로 {
  white-space: nowrap;
  margin-left: 1vw;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5vw;

  color: white;
}

.신호등 {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.신호등빨간색 {
  width: 5vw;
  height: 5vw;
  background-color: #ff3b30;
  border-radius: 0.5vw;
}

.신호등노란색 {
  width: 5vw;
  height: 5vw;
  background-color: #ffc041;
  border-radius: 0.5vw;
}

.신호등초록색 {
  width: 5vw;
  height: 5vw;
  background-color: #4cd964;
  border-radius: 0.5vw;
}

.인포탄소컬러 {
  font-size: 2vw;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  line-height: 5vw;
}

.신호등소개 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.신호등소개글 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 5vw;
}

@media (max-width: 1000px) {
  .InfoNav {
    height: 10vw;
  }
}

@media (max-width: 1000px) {
  .InfoText {
    font-size: 4vw;
  }
}

@media (max-width: 1000px) {
  .InfoLogo {
    width: 5vw;
  }
}

@media (max-width: 1000px) {
  .NavText {
    font-size: 3vw;
  }
}

@media (max-width: 1000px) {
  .환경을오염시키는 {
    font-size: 8vw;
    line-height: 10vw;
  }
}

@media (max-width: 1000px) {
  .당신이먹는음식에는 {
    font-size: 5vw;
    line-height: 7vw;
  }
}

@media (max-width: 1000px) {
  .탄소 {
    font-size: 12vw;
    line-height: 12vw;
  }
}

@media (max-width: 1000px) {
  .가있습니다 {
    font-size: 8vw;
    line-height: 12vw;
  }
}

@media (max-width: 1000px) {
  .InfoBetween {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .InfoRight {
    margin-top: 25vw;
  }
}

@media (max-width: 1000px) {
  .InfoLeft {
    margin-top: vw;
  }
}

@media (max-width: 1000px) {
  .소개 {
    font-size: 8vw;
  }
}

@media (max-width: 1000px) {
  .소개박스 {
    width: 80vw;
    height: 35vw;
  }
}

@media (max-width: 1000px) {
  .인포탄소컬러 {
    font-size: 5vw;
    line-height: 14vw;
  }
}

@media (max-width: 1000px) {
  .신호등빨간색,
  .신호등초록색,
  .신호등노란색 {
    width: 10vw;
    height: 10vw;
  }
}

@media (max-width: 1000px) {
  .신호등소개글 {
    font-size: 3vw;
    line-height: 10vw;
  }
}

@media (max-width: 1000px) {
  .탄소소개밑 {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .탄소소개밑왼쪽,
  .탄소소개밑오른쪽 {
    width: 30vw;
    height: 10vw;
  }
}

@media (max-width: 1000px) {
  .탄소소개밑오른쪽 {
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .환경뉴스보기,
  .홈으로 {
    white-space: nowrap;
    font-size: 3vw;
    margin-left: 2vw;
  }
}

@media (max-width: 1000px) {
  .홈으로화살표 {
    margin-left: 13vw;
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 1000px) {
  .환경뉴스보기화살표 {
    margin-left: 11.2vw;
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 1000px) {
  .인포화살표 {
    width: 5vw;
  }
}

@media (max-width: 1000px) {
  .InfoLeft {
    filter: drop-shadow(2px 5px 4px black);
  }
}
