.MainBody {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background: linear-gradient(112.37deg, #D5DAF8 41.64%, #B1DFFF 76.25%);
}

.mainsnow {
  background-size: cover;
  height: 100vh;
  width: 50%;
}

@media (max-width: 1000px) {
  .mainsnow {
    width: 100%;
  }
}

.snowcenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.maincenter {
  display: flex;
  width: 100%;
  justify-content: center;
}


.welcomebox {
  position: absolute;
  top: 2vw;
  left: 2vw;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .welcomebox {
    display: none;
  }
}

.welcome {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 2.5vw;
  text-align: left;
  letter-spacing: -0.09em;

  color: #757ea0;
}

.boomerangref {
  margin-top: -1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 3vw;
  text-align: left;
  letter-spacing: -0.09em;

  color: #5d6589;
}

.container {
  position: absolute;
  top: 27vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.warningposition {
  top: 0.7vw;
  right: 1vw;
  position: absolute;
  z-index: 1;
}

.mainwarningposition {
  bottom: 1vw;
  right: 1vw;
  position: fixed;
  width: 15vw;
  height: 5vw;

  background: #122547;
  box-shadow: 0px 0px 15px #636da2;
  border-radius: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .mainwarningposition {
    width: 15vw;
    height: 15vw;
  }
}

.mainwarning {
  z-index: 1;
  width: 20%;
}

@media (max-width: 1000px) {
  .mainwarning {
    width: 70%;
  }
}

.mainwartext {
  width: 70%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.mainnotice {
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.3rem;
  letter-spacing: 0.03em;

  color: #ffffff;
}

@media (max-width: 1000px) {
  .mainnotice {
    display: none;
  }
}

.warning {
  width: 5vw;
}

.clock {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3vw;
  color: #6487ad;

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.box {
  width: 15vw;
  height: 15vw;
  margin: 1vw;

  background: #ffffff;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: -0.09em;

  color: rgba(0, 0, 0, 0.5); */

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: -0.09em;

  color: #232f59;
}


.음식인식box{
  width: 15vw;
  height: 15vw;
  margin: 1vw;

  background: #ffffff;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  /* font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: -0.09em;

  color: rgba(0, 0, 0, 0.5); */

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: -0.09em;

  color: #232f59;
}

.유튜브box{
  display: none;
}

@media (max-width: 1000px) {
  .유튜브box {
    margin: 1vw;
  
    background: #ffffff;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  
    /* font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 3vw;
    text-align: center;
    letter-spacing: -0.09em;
  
    color: rgba(0, 0, 0, 0.5); */
  
    font-family: "Nanum Gothic", sans-serif;
    font-style: normal;
    font-weight: 550;
    text-align: center;
    letter-spacing: -0.09em;
  
    color: #232f59;

    width: 35vw;
    height: 35vw;
    font-size: 8vw;
    line-height: 7vw;
    display: flex;
    flex-direction: column;
  }
}

.textcenter {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom {
  position: absolute;
  top: 4vw;

  /* margin-top: 5%;
  margin-bottom: -6%; */

  /* font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 10vw;
  line-height: 10vw;
  text-align: center;
  letter-spacing: -0.06em; */

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10vw;
  line-height: 10vw;
  text-align: center;

  letter-spacing: -0.045em;

  color: #054086;
}

.erang {
  top: 3.5vw;
  margin-left: 17.5vw;
  position: absolute;
  /* margin-left: 17vw;
  margin-top: -5vw; */
  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  letter-spacing: -0.045em;

  color: #054086;
}

.boomerang_logo {
  position: absolute;

  top: 4.5vw;
  right: 31vw;
  width: 8%;
  align-items: center;
}

.use {
  position: absolute;
  top: 12vw;
  /* 
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 7vw;
  line-height: 10vw; */
  /* identical to box height */

  /* text-align: center;
  letter-spacing: -0.06em; */

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  line-height: 10vw;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.045em;

  color: #153079;
}

.service {
  position: absolute;
  top: 20vw;

  font-family: "Nanum Gothic", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6vw;
  line-height: 5vw;
  /* identical to box height */

  text-align: center;

  color: #153079;
}

.img {
  margin: 0px auto;

  margin-top: 10%;

  width: auto;
  height: 50%;
}

.footer {
  margin-top: 0%;
  margin-bottom: 0%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.115em;

  color: rgba(0, 0, 0, 0.5);
}

.text {
  margin-top: 3%;
}

@media (max-width: 1000px) {
  .container {
    
    justify-content: center;
    margin: 28%;
    top: 20vw;
  }
}

@media (max-width: 1000px) {
  .box {
    width: 35vw;
    height: 35vw;
    font-size: 8vw;
    line-height: 7vw;
  }
}

@media (max-width: 1000px) {
  .음식인식box {
    width: 35vw;
    height: 35vw;
    font-size: 8vw;
    line-height: 7vw;
  }
}

@media (max-width: 1000px) {
  .mainmove {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 38vw;
  }
}


@media (max-width: 1000px) {
  .boom {
    top: 7vw;
    font-size: 18vw;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding-bottom: 10vw;
    font-size: 5vw;
  }
}


@media (max-width: 1000px) {
  .use {
    top: 23vw;
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media (max-width: 1000px) {
  .service {
    top: 33vw;
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media (max-width: 1000px) {
  .clock {
    font-size: 5vw;
  }
}

@media (max-width: 1000px) {
  .warningposition {
  }
}

@media (max-width: 1000px) {
  .warning {
    width: 7vw;
  }
}

@media (max-width: 1000px) {
  .erang {
    margin-left: 35vw;
    font-size: 4vw;
  }
}

@media (max-width: 1000px) {
  .text {
    font-size: 5vw;
  }
}

@media (max-width: 1000px) {
  .boomerang_logo {
    right: 18vw;
    width: 12%;
  }
}

@media (max-width: 1000px) {
  .MainBody {
    height: 100vh;
  }
}
