.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box {
  width: 22vw;
  height: 22vw;
  margin: 2vw;
  margin-bottom: 20%;

  background: #ffffff;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 4vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: -0.09em;

  color: rgba(0, 0, 0, 0.5);
}

.boom {
  margin-top: 3%;
  margin-bottom: -6%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 10vw;
  line-height: 10vw;
  text-align: center;
  letter-spacing: -0.06em;

  color: rgba(49, 165, 30, 0.7);
}

.use {
  margin-top: 5%;
  margin-bottom: -2%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 7vw;
  line-height: 10vw;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.06em;

  color: rgba(0, 0, 0, 0.7);
}

.img {
  margin: 0px auto;

  margin-top: 8%;

  width: auto;
  height: 50%;
}

.footer {
  margin-top: 0%;
  margin-bottom: 0%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.115em;

  color: rgba(0, 0, 0, 0.5);
}

.text {
  margin-top: 12%;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    margin: 28%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

@media (max-width: 1000px) {
  .box {
    width: 40vw;
    height: 40vw;
    font-size: 8vw;
    line-height: 7vw;
  }
}

@media (max-width: 1000px) {
  .boom {
    margin-top: 15%;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding-bottom: 10vw;
    font-size: 5vw;
  }
}

@media (max-width: 1000px) {
  .boom {
    font-size: 18vw;
    line-height: 20vw;
  }
}

@media (max-width: 1000px) {
  .use {
    font-size: 10vw;
    line-height: 10vw;
  }
}

.clock {
  font-size: 3vw;
  margin-bottom: -4%;
}

@media (max-width: 1000px) {
  .clock {
    font-size: 5vw;
    margin-bottom: -10%;
  }
}
