@media (max-width: 800px) {
  .반응형 {
    position: relative;
    border: 0.3vw solid rgba(204, 204, 204, 0.3);
  }
}

.backref {
  position: absolute;
  top: 5%;
  left: 2%;
}

.backimg {
  margin-top: 17%;
  width: 4vw;
  height: 4vw;
}

@media (max-width: 800px) {
  .backimg {
    margin-top: 0;
    width: 6vw;
    height: 6vw;
  }
}

.제목 {
  font-size: 5vw;
  text-align: center;
  color: rgba(49, 165, 30, 0.7);
  margin: 0;
  z-index: -1;
}

.제품사진 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}
.carbon-container {
  height: 8vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .carbon-container {
    padding: 0;
  }
}

.품명 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}
.carbon-element {
  display: flex;
  justify-content: center;
  width: 20%;
  text-align: center;
}

.탄소량 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}

.칼로리 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #000000;
}

.탄소컬러 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}

.개수 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  color: #000000;
}

.firstline {
  width: 100%;

  border: 5px solid rgba(204, 204, 204, 0.3);
}

@media (max-width: 800px) {
  .firstline {
    width: 100%;
    border: 0.3vw solid rgba(204, 204, 204, 0.3);
  }
}

.imgbox {
}

.REFimg {
  width: 40%;
}

.foodbox {
}

.food {
  white-space: nowrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 350;
  font-size: 5vw;
  text-align: center;
  letter-spacing: -0.09em;
  margin: 0 auto;
  color: black;
}

.line {
  width: 100%;

  border: 5px solid rgba(204, 204, 204, 0.3);
}

@media (max-width: 800px) {
  .line {
    width: 100%;
    border: 0.3vw solid rgba(204, 204, 204, 0.3);
  }
}

.carbonbox {
}

.carbon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  letter-spacing: -0.06em;

  color: #cccccc;
}

.kalorie {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  letter-spacing: -0.06em;
  color: #cccccc;
}

.count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.minus {
  font-weight: bolder;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #555555;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.plus {
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #555555;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.countnumber {
  margin: 1.5vw;
  font-size: 2vw;
}

/* .colorbox {
    margin-left: 87.9%;
    margin-top: -5.1%;
    margin-bottom: 3%;

    width: 4vw;
    height: 4vw;

    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
} */

.footer-element {
  white-space: nowrap;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
  text-align: center;
  letter-spacing: -0.06em;

  color: rgb(151, 151, 151);
}

.footerbox {
  position: fixed;
  bottom: 2vw;

  height: 12vw;
  background: #ffffff;
  opacity: 0.8;
  box-shadow: 0vw 1vw 4vw rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
}

.footerboxcenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footerboxtext {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footernav {
  width: 15vw;
  align-items: center;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}

.foooterboxnav {
  width: auto;
  width: 93vw;
  height: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footergroup {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foooterblock {
  width: 100%;
  height: 14vw;
}

.totalbox2 {
  font-size: 5vw;
  letter-spacing: -0.08em;
  font-weight: 800;
  /* border: 5px solid #cccccc; */
  border-radius: 20px;
}

.deletebox {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  font-weight: bold;
  background-color: red;
  width: 5vw;
  height: 5vw;
  /* border: 5px solid #cccccc; */
  border-radius: 1vw;
}

.deleteboxwidth {
  width: 15vw;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.EmptyBody {
  margin-top: 3vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 25vw;
  /* border: solid 1px;
  border-radius: 50px; */
  flex-direction: column;
}

.EmptyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyposition {
  margin-top: -7vw;
}

.emptyimg {
  width: 15vw;
}

.emptytext {
  margin-top: 1vw;
  font-size: 1.7vw;
  color: rgb(151, 151, 151);
  font-weight: bold;
}

.warningpositionInInfo {
  top: 0.7vw;
  right: 1vw;
  position: absolute;
  z-index: 1;
}

.tree {
  width: 150%;
}

.treecenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treetext {
  font-size: 1vw;
}

@media (max-width: 1000px) {
  .warningpositionInInfo {
    margin-top: -0.7vw;
  }
}

/* @media (max-width: 800px) {
  .warningpositionInInfo {
    margin-top: 9vw;
  }
} */

@media (max-width: 1000px) {
  .EmptyCenter {
    height: 60vw;
  }
}

@media (max-width: 400px) {
  .EmptyCenter {
    height: 170vw;
  }
}

@media (max-width: 1000px) {
  .emptyimg {
    width: 30vw;
  }
}

@media (max-width: 1000px) {
  .emptytext {
    font-size: 5vw;
  }
}

@media (max-width: 1000px) {
  .footerbox {
    width: 93vw;
    height: 22vw;
  }
}

@media (max-width: 1000px) {
  .footerboxtext {
    height: 12vw;
  }
}

@media (max-width: 1000px) {
  .footernav {
    font-size: 4vw;
    white-space: nowrap;
  }
}

@media (max-width: 1000px) {
  .emptyposition {
    margin-top: -10vw;
  }
}

@media (max-width: 800px) {
  .emptyposition {
    margin-top: 0vw;
  }
}

@media (max-width: 400px) {
  .emptyposition {
    margin-top: -100vw;
  }
}

@media (max-width: 1000px) {
  .deletebox {
    font-size: 2vw;

    width: 9vw;
    height: 9vw;
  }
}

@media (max-width: 1000px) {
  .tree {
    width: 4.5vw;
  }
}

@media (max-width: 1000px) {
  .tree {
    font-size: 0.5vw;
  }
}

@media (max-width: 1000px) {
  .treetext {
    font-size: 2vw;
  }
}

@media (max-width: 1000px) {
  .minus {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (max-width: 1000px) {
  .plus {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (max-width: 1000px) {
  .carbon-element {
    font-size: 3vw;
  }
}
