@media (max-width: 728px) {
  .반응형 {
    margin-top: 10%;
    position: relative;
  }
}

.backref {
  position: absolute;
  top: 5%;
  left: 2%;
}

.backimg {
  margin-top: 17%;
  width: 4vw;
  height: 4vw;
}

@media (max-width: 728px) {
  .backimg {
    margin-top: 0;
    width: 6vw;
    height: 6vw;
  }
}

.제목 {
  font-size: 5vw;
  text-align: center;
  color: rgba(49, 165, 30, 0.7);
  margin: 0;
}

.제품사진 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}
.carbon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 728px) {
  .carbon-container {
    padding: 0;
  }
}

.품명 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}
.carbon-element {
  display: block;
  width: 25%;
  text-align: center;
}

.탄소량 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}

.탄소컬러 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2vw;
  /* identical to box height */
  color: #000000;
}

.firstline {
  width: 100%;

  border: 5px solid rgba(204, 204, 204, 0.3);
}

@media (max-width: 800px) {
  .firstline {
    width: 100%;
    border: 0.3vw solid rgba(204, 204, 204, 0.3);
  }
}

.imgbox {
}

.REFimg {
  width: 40%;
}

.foodbox {
}

.food {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  text-align: center;
  letter-spacing: -0.06em;
  margin: 0 auto;
  color: black;
}

.line {
  width: 100%;

  border: 5px solid rgba(204, 204, 204, 0.3);
}

@media (max-width: 800px) {
  .line {
    width: 100%;
    border: 0.3vw solid rgba(204, 204, 204, 0.3);
  }
}

.carbonbox {
}

.carbon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  text-align: center;
  letter-spacing: -0.06em;

  color: #cccccc;
}

/* .colorbox {
    margin-left: 87.9%;
    margin-top: -5.1%;
    margin-bottom: 3%;

    width: 4vw;
    height: 4vw;

    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
} */

.footerbox {
  display: flex;
  justify-content: space-around;
}

.totalbox2 {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
  color: white;
  align-items: center;
  font-size: 5vw;
  letter-spacing: -0.08em;
  font-weight: 800;
  width: 47vw;
  height: 10vw;
  margin: auto;
  margin-top: 0.5%;
  /* border: 5px solid #cccccc; */
  border-radius: 20px;
}

.deletebox {
  display: flex;
  font-size: 5vw;
  color: white;
  font-weight: bold;
  background-color: red;
  justify-content: center;
  align-items: center;
  width: 47vw;
  height: 10vw;
  margin: auto;
  margin-top: 0.5%;
  /* border: 5px solid #cccccc; */
  border-radius: 20px;
}

.EmptyBody {
  margin-top: 3vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 25vw;
  /* border: solid 1px;
  border-radius: 50px; */
  flex-direction: column;
}

.EmptyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyposition {
  margin-top: -3vw;
}

.emptyimg {
  width: 15vw;
}

.emptytext {
  margin-top: 1vw;
  font-size: 1.7vw;
  color: rgb(151, 151, 151);
  font-weight: bold;
}