.serviceheader {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 5vw;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.1vw rgb(200, 200, 200);
}

@media (max-width: 1000px) {
  .serviceheader {
    height: 10vw;
  }
}

.servicelogo {
  display: flex;
  align-items: center;
}

.serviceimg {
  filter: opacity(0.9) drop-shadow(0 0 0 black);
  width: 4vw;
}

@media (max-width: 1000px) {
  .serviceimg {
    width: 7vw;
  }
}

.servicefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  width: 100%;
  height: 50vw;
  background-color: #fede22;
}

@media (max-width: 1000px) {
  .servicefirst {
    margin-top: 10vw;
  }
}

.첫번째블럭 {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .첫번째블럭 {
    width: 100%;
  }
}

.첫번째블럭왼쪽 {
  display: flex;
  flex-direction: column;
  /* width: 500px;
  height: 500px; */
  /* background-color: black; */
}

@media (max-width: 1000px) {
  .첫번째블럭왼쪽 {
    margin-left: 8vw;
  }
}

.첫번째블럭오른쪽 {
  /* width: 100px;
  height: 100px;
  background-color: black; */
}

.이미모두의냉장고 {
  /* color: white; */
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: -0.06em;
}

@media (max-width: 1000px) {
  .이미모두의냉장고 {
    font-size: 6vw;
  }
}

.한사람 {
  margin-top: 1vw;
  /* color: white; */
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .한사람 {
    font-size: 2vw;
  }
}

.사고 {
  margin-top: 1vw;
  /* color: white; */
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .사고 {
    font-size: 2vw;
  }
}

.playstore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  width: 12vw;
  height: 3vw;
  background-color: white;
  border-radius: 0.5vw;
  cursor: pointer;
  border: 1px solid rgb(201, 200, 200);
}

@media (max-width: 1000px) {
  .playstore {
    width: 18vw;
    height: 5vw;
  }
}

.playstoreicon {
  width: 1.5vw;
}

@media (max-width: 1000px) {
  .playstoreicon {
    width: 2vw;
  }
}

.googleplay {
  color: black;
  margin-left: 0.5vw;
  font-size: 1.2vw;
  white-space: nowrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.06em;
}

@media (max-width: 1000px) {
  .googleplay {
    font-size: 2vw;
  }
}

.부메랑gif {
  width: 30vw;
}

@media (max-width: 1000px) {
  .부메랑gif {
    width: 40vw;
  }
}

.servicesecond {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vw;
  background-color: #fff;
}

.두번째블럭 {
  margin-top: 3vw;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .두번째블럭 {
    margin-top: 6vw;
  }
}

.두번째블럭왼쪽 {
  /* width: 10vw;
  height: 10vw;
  background-color: black; */
}

.냉장고미리보기 {
  width: 21vw;
}

@media (max-width: 1000px) {
  .냉장고미리보기 {
    width: 23vw;
  }
}

.두번째블럭오른쪽 {
  display: flex;
  flex-direction: column;
}

.모바일 {
  margin-top: 10vw;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: -0.06em;
}

@media (max-width: 1000px) {
  .모바일 {
    margin-top: 8vw;
    font-size: 5vw;
  }
}

.음식의칼로리 {
  margin-top: 1.2vw;
  /* color: white; */
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .음식의칼로리 {
    font-size: 2vw;
  }
}

.냉장고바로가기 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
  width: 11vw;
  height: 3vw;
  background-color: #f6f6f6;
  border-radius: 0.5vw;
  cursor: pointer;
  border: 1px solid rgb(201, 200, 200);
}

@media (max-width: 1000px) {
  .냉장고바로가기 {
    width: 17vw;
    height: 5vw;
  }
}

.서비스냉장고현황 {
  white-space: nowrap;
  font-weight: 500;
  margin-left: 0.5vw;
  font-size: 1.1vw;
  color: black;
}

@media (max-width: 1000px) {
  .서비스냉장고현황 {
    font-size: 2vw;
  }
}

.서비스냉장고현황뒤로가기 {
  white-space: nowrap;
  margin-left: 0.4vw;
  filter: opacity(0.9) drop-shadow(0 0 0 black);
  width: 1vw;
  transform: rotate(180deg);
}

@media (max-width: 1000px) {
  .서비스냉장고현황뒤로가기 {
    width: 2vw;
  }
}

.divider {
  width: 100%;
  height: 2vw;
  background-color: #fafafa;
}

.servicethird {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vw;
  background-color: #fff;
}

.세번째블럭 {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/* @media (max-width: 1000px) {
    .세번째블럭 {
      width: 80%;
    }
  } */

.세번째블럭왼쪽 {
  display: flex;
  flex-direction: column;
}

.서비스나무flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.서비스나무개수 {
  font-size: 1.5vw;
}

@media (max-width: 1000px) {
  .서비스나무개수 {
    font-size: 2.5vw;
  }
}

.서비스나무 {
  width: 20vw;
}

@media (max-width: 1000px) {
  .서비스나무 {
    width: 25vw;
  }
}

.나무로알아보는 {
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: -0.06em;
}

@media (max-width: 1000px) {
  .나무로알아보는 {
    font-size: 6vw;
  }
}

.내가배출한 {
  margin-top: 1vw;
  /* color: white; */
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .내가배출한 {
    font-size: 2vw;
  }
}

.부메랑은 {
  margin-top: 1vw;
  /* color: white; */
  font-size: 1.2vw;
}

@media (max-width: 1000px) {
  .부메랑은 {
    font-size: 2vw;
  }
}

.Math {
  margin-top: 2vw;
  font-size: 1vw;
  color: gray;
  font-style: italic;
}

@media (max-width: 1000px) {
  .Math {
    font-size: 2vw;
  }
}
